/Enter Product/build/
/Semana 11/build/
/Semana 11/nbproject/private/
/Semana 12/build/
/Semana 12/nbproject/private/
/Semana 02/build/
/Semana 02/nbproject/private/
/Semana 03/build/
/Semana 03/nbproject/private/
/Semana 04/build/
/Semana 04/dist/
/Semana 04/nbproject/private/
/Semana 05/build/
/Semana 05/nbproject/private/
/Semana 06/build/
/Semana 06/nbproject/private/
/Semana 07/build/
/Semana 07/nbproject/private/
/Semana 08/build/
/Semana 08/nbproject/private/
/Examen Nicolas/build/
/Examen Nicolas/nbproject/private/
/S3 - Badajos Rojas Nicolas/build/
/S3 - Badajos Rojas Nicolas/nbproject/private/
/Semana 10/build/
/Semana 10/nbproject/private/
